<div class="container mt-4">
    <h1 class="text-center">Historia Wizyt</h1>
    <table class="table table-hover mt-4">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Warsztat</th>
                <th scope="col">Usługa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var visit in Model)
            {
                <tr>
                    <td>@visit.Date.ToString("yyyy-MM-dd")</td>
                    <td>@visit.WorkshopName</td>
                    <td>@visit.Service</td>
                </tr>
            }
        </tbody>
    </table>
</div>


